@import "tailwindcss/dist/base.css";
@import "tailwindcss/dist/components.css";
@import "tailwindcss/dist/utilities.css";

.app {
  display: grid;
  gap: 5rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

}

.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 15rem;
    height: auto;
    border-radius: 5%;
    
}
.title {
  font-size: 1rem;
  color: darkgreen;
}

#img:hover {
  transform: rotate(-5deg);
  filter: brightness(100%);
}

.price {
  color: darkolivegreen;
  margin-top: 4rem;
  font-size: 2rem;
  cursor: pointer;
}


#container-items:hover {
  background-color: rgb(26, 221, 26);
}

.cards{
    display: flex;
    position: fixed;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    width: 20rem;
}
.section{
    padding: 2px;
    text-align: center;
}
.titulo{
    color: darkgreen;
}

.pie{
    color: dimgrey;
}

.descricion{
    color: darkolivegreen;
}
